.setting-toggle-option{
    background-color: gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.setting-toggle-option.active{
    background-color: aquamarine;
    color:white
}

.setting-right-block{
    display: none;
}

.setting-right-block.active{
    display: block;
}

.check{
    color: red;
}